/* show page and other places displaying track details */
.trackDetails {
	border: 1px solid #ccc;
	margin: 1em 0;
	padding: 1em;
}
.trackDetails h1,
.trackDetails h2,
.trackDetails h3 {
	margin: 0 0 .5em 0;
}
.trackDetails img.albumart {
	display: block;
	float: right;
	margin: 0 0 1em 1em;
}